
*.a
*.bin
*.check_cache
*.db
*.dll
*.exe
*.exp
*.idb
*.ilk
*.ini
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.txt
*.VC.db
*.VC.db*
*~ml
*cache
Build_*
Build-*
build/*
CMakeFiles/
deps/glew-2.1.0/glew.pc
intermediate
runDir