[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
	ignore = dirty
[submodule "deps/helpers"]
	path = deps/helpers
	url = git@github.com:bartekordek/helpers.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = git@github.com:ocornut/imgui.git
	ignore = dirty
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
	ignore = dirty
[submodule "deps/ImGuiColorTextEdit"]
	path = deps/ImGuiColorTextEdit
	url = git@github.com:bartekordek/ImGuiColorTextEdit.git
[submodule "deps/CUL"]
	path = deps/CUL
	url = git@github.com:bartekordek/CUL.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "deps/rapidobj"]
	path = deps/rapidobj
	url = git@github.com:guybrush77/rapidobj.git
